* {
  /*border: 1px solid red;*/
}

body {
  color: white;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  background: #47a3da;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 1px;
  margin: 10% 2% 5% 2%;
}

.mainContent {
  margin-left: 4%;
  padding: 0;
}

select {
  height:36px;
  line-height:30px;
  width: 355px;
  border-color: #d5dadd;
  border-width: 1px;
  border-style: solid;
  background:#47a3da;
  font-size: 20px;
  color: white;

}

textarea {
  width: 350px;
  height: 200px;
  background: #47a3da;
  border-color: white;
  border-width: 4px;
  border-style: solid;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}



main {
  display: inline-block;
  padding: 5%;

}

section {
  display: inline-block;
  width: 25%;
  margin: 0 30px 0 30px;
}

label {
  display: block;
  width: 100%;
}

label, p {
  margin-top: 50px;
  margin-bottom: 4px;

}

textarea {
  /*margin-top: 1px;*/


}


.inBox {
  width: 350px;
  height: 45px;
  background: #47a3da;
  border-color: white;
  border-width: 4px;
  border-style: solid;
  font-size: 18px;
}

#left, #middle, #right {
  vertical-align: middle;
  width: 350px;
  /*padding-top: 5%;*/
}
